<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookShop.My.MySettings.BookShopConnectionString" connectionString="Data Source=DESKTOP-7B686JL\SQLEXPRESS;Initial Catalog=BookShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BookShop.My.MySettings.BookshopConnectionString1"
            connectionString="Data Source=344_06\SQLEXPRESS;Initial Catalog=Bookshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>